/*css*/
body {
    font-family: 'Times New Roman', Times, serif;
}

#app {
    background-color: #2f4f4f;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1, h2, h3, h4 {
    font-family: 'Georgia', serif;
}

button {
    font-family: 'Georgia', serif;
    font-weight: bold;
}

.hidden {
    display: none;
}
